<hr class="horiz-line-2">
<div class="footer-second">
    <div class="footer-content grid">
        <div class="about-footer col-6">
            <div class="logo-footer">
                <img src="assets/images/logo.png" style="" alt="">
            </div>
            <div class="text-footer">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae obcaecati esse doloremque dolorum incidunt inventore ab nemo in error laborum quis vero, illum tenetur quasi! Blanditiis quisquam voluptate dolor illo! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid praesentium voluptas totam architecto eligendi omnis cum, dolorum doloribus rem magni modi tempore perspiciatis quasi inventore quod facilis dicta adipisci eveniet?</p>
            </div>
        </div>
        <div class="links-footer col-2">
            <h3 class="">Links</h3>
            <ul class="">
                <span><i class="pi pi-chevron-right"></i><li>Link 1</li></span>
                <span><i class="pi pi-chevron-right"></i><li>Link 2</li></span>
                <span><i class="pi pi-chevron-right"></i><li>Link 3</li></span>
                <span><i class="pi pi-chevron-right"></i><li>Link 4</li></span>
            </ul>
        </div>
        <div class="contact-footer col-4">
            <h3>Get in Touch</h3>
            <ul>
                <span><i class="pi pi-chevron-right"></i><li>Link 1</li></span>
                <span><i class="pi pi-chevron-right"></i><li>Link 2</li></span>
                <span><i class="pi pi-chevron-right"></i><li>Link 4</li></span>
            </ul>
            <div class="social-media-footer">
                <i class="pi pi-instagram mx-2" style="font-size: 2em;"></i>
                <i class="pi pi-facebook mx-2" style="font-size: 2em;"></i>
                <i class="pi pi-twitter mx-2" style="font-size: 2em;"></i>
                <i class="pi pi-github mx-2" style="font-size: 2em;"></i>
            </div>
        </div>
    </div>
</div>