<header>
    <div class="col-12">
        <div class="grid">
            <div class="col-2">
                <div class="logo">
                    <img src="assets/images/shop.png" alt="">
                </div>
            </div>
            <div class="col-4 navigation">
                <eshop-nav></eshop-nav>
            </div>
            <div class="col-3  search">
                <products-search></products-search>
            </div>
            <div class="col-2 col-offset-1 tools">
                <orders-cart-icon></orders-cart-icon>
                <i class="pi pi-user" (click)="goLogin()"></i>
            </div>    
        </div>
    </div>
</header>