<p-toast></p-toast>
<div class="admin-page">
  <p-card header="users" subheader="List of all users">
    <div class="p-grid">
      <div class="p-col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <p-button
              styleClass="p-button-success"
              label="New"
              icon="pi pi-plus"
              routerLink="form"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12">
        <p-table
          [paginator]="true"
          [rows]="10"
          [value]="users"
          styleClass="p-datatable-gridlines"
          [globalFilterFields]="['name']"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
              <th>Email</th>
              <th>Phone</th>
              <th>City</th>
              <th>Address</th>
              <th>Admin</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
            <tr>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.phone }}</td>
              <td>{{ user.city }}</td>
              <td>{{ user.address }}</td>
              <td>
              <p-tag styleClass="mr-2" [icon]="user.isAdmin ? 'pi pi-check' : 'pi pi-times' " [severity]="user.isAdmin ? 'success' : 'danger'" [rounded]="true"></p-tag>
              </td>
              <td>
                <p-button
                  
                  styleClass="p-button-danger mr-3"
                  icon="pi pi-trash"
                ></p-button>
                <p-button
                  
                  styleClass="p-button-success"
                  icon="pi pi-pencil"
                ></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>

<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
