
<p-toast></p-toast>
<div class="admin-page">
  <p-card
    [header]="editmode ? 'Edit Product' : 'Add Product'"
    subheader="You can add or edit products here"
  >
    <div class="p-grid p-mb-5">
      <div class="p-col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-right">
            <p-button
              styleClass="p-button-primary mr-2"
              [label]="editmode ? 'Update' : 'Create'"
              icon="pi pi-plus"
              (click)="onSubmit()"
            ></p-button>
            <p-button
              styleClass="p-button-secondary"
              label="Cancle"
              icon="pi pi-arrow-circle-left"
              routerLink="/products"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12">
        <form [formGroup]="form">
          <div class="p-ui-fluid p-formgrid p-grid mt-5">
            <div class="p-field p-col mt-5 mx-5">
              <label for="name">Name</label><br/>
              <input class="mt-3" formControlName="name" id="name" type="text" pInputText />
              <small *ngIf="productForm['name'].invalid && isSubmitted" class="p-error ml-3">Name is required</small>
            </div>
            <div class="p-field p-col mt-5 ml-5">
              <label for="brand">Brand</label><br/>
              <input class="mt-3" formControlName="brand" id="brand" type="text" pInputText />
              <small *ngIf="productForm['brand'].invalid && isSubmitted" class="p-error  ml-3">Brand is required</small>
            </div>
            <div class="p-field p-col mt-5 ml-5">
              <label for="price">Price</label><br/>
              <p-inputNumber class="mt-3" formControlName="price" mode="decimal" [useGrouping]="false"></p-inputNumber>
              <small *ngIf="productForm['price'].invalid && isSubmitted" class="p-error  ml-3">Price is required</small>
            </div>
          </div>
          <div class="p-ui-fluid p-formgrid p-grid">
            <div class="p-field p-col mt-5 ml-5">
              <label for="countInStock">countInStock</label><br/>
              <p-inputNumber class="mt-3" formControlName="countInStock" mode="decimal" [useGrouping]="false"></p-inputNumber>
              <small *ngIf="productForm['countInStock'].invalid && isSubmitted" class="p-error  ml-3"
                >Count in stock is required</small>
            </div>
            <div class="p-field p-col-4 mt-5 ml-5">
              <label for="category">category</label><br/><br/>
              <p-dropdown
                [options]="categories"
                formControlName="category"
                optionLabel="name"
                optionValue="id"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                placeholder="Select a Category"
              ></p-dropdown>
              <small *ngIf="productForm['category'].invalid && isSubmitted" class="p-error  ml-3"
                >Category is required</small>

            </div>
            <div class="p-ui-field p-col-4 mt-5 ml-5">
              <label for="isFeatured">Is Featured</label><br/><br/>
              <p-inputSwitch formControlName="isFeatured"></p-inputSwitch>
            </div>
            <div class="p-ui-field p-col-12 mt-5 ml-5">
              <label for="description">Description</label><br/>
              <textarea
                class="mt-3"
                pInputTextarea
                formControlName="description"
                [rows]="7"
                [cols]="100"
                ></textarea>
                <small *ngIf="productForm['description'].invalid && isSubmitted" class="p-error  ml-3"
                >Description is required</small>
              </div>

              <div class="p-ui-field p-col-12 mt-5 ml-5">
                <label for="name">Main Image</label><br/><br/>
                <input 
                  type="file"
                  class="p-inputtext"
                  accept="image/*"
                  (change)="onImageUpload($event)"
                />
                <small *ngIf="productForm['image'].invalid && isSubmitted" class="p-error  ml-3">Image is required</small>
                <div style="width:300px;" class="p-col-2 p-mt-2 p-pl-0 mt-4">
                  <img style="width: 100%" [src]="imageDisplay" alt="" />
                </div>
              </div>

              <div class="p-ui-field p-col-12 mt-3 mx-5">
                <label for="richDescription" >Product Details</label><br/><br/>
                <p-editor formControlName="richDescription" [style]="{ height: '320px' }"></p-editor>
              </div>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
