<div class="admin-page">
    <p-card header="Dashboard" subheader="Lastest Updates are available" >
        <div class="col-12">
            <div class="grid">
                <div class="col-3">
                    <p-card styleClass="d-orders dashboard-card">
                        <div class="d-item">
                            <div>
                                <i class="pi pi-shopping-cart"></i><br/>
                                <span class="name">Orders</span>
                            </div>
                            <span class="number">{{ordersCount}}</span>
                        </div>
                    </p-card>
                </div>
                <div class="col-3">
                    <p-card styleClass="d-users dashboard-card">
                        <div class="d-item">
                            <div>
                                <i class="pi pi-users"></i><br/>
                                <span class="name">Users</span>
                            </div>
                            <span class="number">{{usersCount}}</span>
                        </div>
                    </p-card>
                </div>
                <div class="col-3">
                    <p-card styleClass="d-products dashboard-card">
                        <div class="d-item">
                            <div>
                                <i class="pi pi-box"></i><br/>
                                <span class="name">Products</span>
                            </div>
                            <span class="number">{{productsCount}}</span>
                        </div>
                    </p-card>
                </div>
                <div class="col-3">
                    <p-card styleClass="d-total-sales dashboard-card">
                        <div class="d-item">
                            <div>
                                <i class="pi pi-dollar"></i><br/>
                                <span class="name">Revenues</span>
                            </div>
                            <span class="sales-number">{{totalSales | currency}}</span>
                        </div>
                    </p-card>
                </div>
            </div>
        </div>
    </p-card>
</div>