.footer-copyright {
    padding: 0px;
    display: flex;
    justify-content: space-between;
    background: rgb(116,116,116);
    background: linear-gradient(45deg, rgba(255, 182, 0, 0.13) 0%, rgba(166, 213, 250, 0.35) 64%, rgba(224, 122, 0, 0.11) 100%);
    color: black;
    .by {
            cursor: pointer;
    }
    .copyright {
        align-self: flex-start;
        img{
            width: 32px;
            margin: 0 5px;
        }
        i {
            color: #e0002a;
        }
    }
    .deploy {
        align-self: flex-end;
        padding-right: 15px;
    }
}