header {
    .logo {
        img {
            width: 85px;
        }
        cursor: pointer;
    }
    .navigation {

    }
    .search {

    }   
    .tools {
        margin-top: 32px;
        .pi {
            font-size: 1.4em;
            margin: 0px 10px;
            cursor: pointer;
            &:hover {
                color: rgb(255, 255, 255);
            }
        }
    }
}