.nav {
    list-style: none;
    display: inline-flex;
    li {
        margin: 20px 20px;
    }

    a {
        font-weight: bold;
        color: rgb(255, 255, 255);
        font-size: 1em;
        &:hover {
            color: rgb(62, 55, 55);
            cursor: pointer;
        }
    }
    .active {
        color: rgb(62, 55, 55);
    }
}