<div class="footer-copyright flex justify-content-center align-items-center w-full p-0 m-0">
    <div class="flex align-items-center mr-3">
        <a href="https://github.com/ofsand" class="by flex align-items-center" target="_blank">
            <i class="pi pi-github text-3xl mr-3"></i>
            <p> By OFSAND  | </p>
        </a>
    </div>
    <div class="flex align-items-center">
        <div class="copyright flex justify-content-around align-items-center">
            <img src="https://img.icons8.com/nolan/64/heroku.png"/>
            <img src="https://img.icons8.com/color/48/000000/angularjs.png"/>
            <img src="https://img.icons8.com/fluency/48/000000/node-js.png"/>
            <a href="https://imgbb.com/"><img src="https://i.ibb.co/PMwZymJ/nx.png" alt="nx" border="0"></a>
            <i class="pi pi-prime text-3xl"></i>
        </div>
    </div>
</div>
