@import '~normalize.css';
// Base
@import './base/colors.scss';
@import './base/mixins.scss';
@import './base/configuration.scss';
@import './base/fonts.scss';

// Libraries
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeflex/primeflex.css';


// Shared
@import './apps/admin/shared/shell.scss';
@import './apps/admin/dashboard/dashboard.scss';

// Libs
@import './libs/ui/ui.scss';

// Pages
@import './libs/users/login-register.scss';
@import './libs/products/pages/reviews-list/reviews-list.scss';

p-card{
    .p-card {
        background-color: rgba(255, 255, 255, 0.733) !important;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.26) !important;
        border-radius: 5px !important;
        padding: 0px 10px;
    }
}

p-toolbar{
    .p-toolbar{
        background-color: rgba(255, 255, 255, 0.575) !important;
    }
}
p-table{
    .p-datatable{
        .p-datatable-tbody {
            tr{
                background-color: transparent !important;
            }
        }
        .p-datatable-thead {
            tr{
                th{
                    background-color: rgba(255, 255, 255, 0.575) !important;
                }
            }
        }
        .p-paginator {
            background-color: transparent !important;
        }
    }
}
