@import '~normalize.css';
// Base
@import './base/colors.scss';
@import './base/mixins.scss';
@import './base/configuration.scss';
@import './base/fonts.scss';

// Libraries
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeflex/primeflex.css';


// Pages
@import './apps/shop/pages/home-page.scss';
@import './libs/products/pages/products-list.scss';
@import './libs/products/pages/products-page.scss';

@import './libs/users/login-register.scss';
@import './libs/users/user-login-register.scss';

// Components
@import './libs/products/components/categories-banner.scss';
@import './libs/products/components/product-item.scss';
@import './libs/products/components/products-search.scss';
@import './libs/products/components/gallery.scss';
@import './libs/orders/cart-page.scss';
@import './libs/users/profile.scss';

// Shared
@import './apps/shop/shared/footer.scss';
@import './apps/shop/shared/footer-second.scss';
@import './apps/shop/shared/header.scss';
@import './apps//shop/shared/nav.scss';

// Libs
@import './libs/ui/ui.scss';
@import './libs/ui/features-block.scss';

.container {
    min-height: 100vh;
    width: 100%;
    padding: 5px 10% 35px 10%;
    margin: 0 auto;
    background: linear-gradient(to right, rgba(97, 102, 100, 0.6), rgba(224, 221, 253, 0.6)), url("../apps/eshop/src/assets/images/abstract-blur.jpg") no-repeat fixed;
    background-size: cover;
}