@import '~normalize.css';
// Base
@import './base/colors.scss';
@import './base/mixins.scss';
@import './base/configuration.scss';
@import './base/fonts.scss';

// Libraries
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeflex/primeflex.css';


// Pages
@import './apps/shop/pages/home-page.scss';
@import './apps/shop/pages/products-list.scss';
@import './libs/products/products-search.scss';

// Shared
@import './apps/shop/shared/footer.scss';
@import './apps/shop/shared/header.scss';
@import './apps//shop/shared/nav.scss';

// Libs
@import './libs/ui/ui.scss';

.container {
    width: 90%;
    padding: 5px 50px;
    margin: 0 auto;
    background-color: rgb(244, 238, 231);
}